body{
font-family: 'Hurricane', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
padding: 0%;

}

h1{
    font-size: 50px;
}

h2{
    font-size:30px ;
}
.orange-color{
    color: orange;
}
.flesible-continer{
    display: flex;
}
.top-banar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-with{
    width: 50%;
    padding-left: 5%;
}
.half-with img{
    width:80% ;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image:linear-gradient(orange, tomato);
    font-weight:600;
    color: white;
    border-radius: 20%;
    
}
.banar-exp{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.box-model{
    width:40% ;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow:20px 30px 40px gray ;
    margin:5% ;
    border-left:solid red ;

}
.green-color{
    border-left: solid green;
}
.footer-section{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
